.single-movie-container {
  .single-movie-details {
    .single-movie-details-table {
      display: flex;
      flex-direction: column;
      & > * {
        display: flex;
        flex-grow: 1;
        padding: 5px 0;

        span {
          flex: 1;
        }
      }
    }
  }
}
